.contacts-address {
	flex-direction: column;
	background-color: $bg-secondary;
	color: $c-grey;
	padding: 1em;
}

.contacts-map,
.contacts-image {
	margin: 0;
	overflow: hidden;

	@include media-breakpoint-up(md) {
		margin-right: -15px;
		margin-left: -15px;
	}
}

.map {
	border-top: 5px solid c-primary;
	width: 100%;
	height: 350px;

	@include media-breakpoint-up(xl) {
		height: 500px;
	}
}

.contacts-image img {
	border-top: 5px solid $c-primary;
	width: 100%;
	height: 350px;

	@include media-breakpoint-up(xl) {
		height: 100%;
	}
}
