include ../components/header

section.contacts
  .fluid-container.dots-block
    .container.title-wrapper
      .row.section-title
        h2
          svg.icon-title
            use(xlink:href='images/SVG.svg#012-buildings')
          | офис
  .container
    .row.contacts-address
      p
        svg.icon-contacts
          use(xlink:href='images/SVG.svg#007-web')
        | Россия, Санкт-Петербург, Проспект Энгельса, 109
      p
        svg.icon-contacts
          use(xlink:href='images/SVG.svg#006-technology')
        | +7 (812) 591-87-00, +7 (911) 927-92-21
      p
        svg.icon-contacts
          use(xlink:href='images/SVG.svg#005-clock')
        | Пн-Пт 9.00 До 18.00
      p
        svg.icon-contacts
          use(xlink:href='images/SVG.svg#004-web-1')
        | pavel@forumestate.ru
    .row.contacts-office
      .row.contacts-map.col-12.col-md-6
        #map.map
      .row.contacts-image.col-12.col-md-6
        img(src="images/office-img.png", alt="комнед")


include ../components/footer
