include ../components/header

section.contacts
  .fluid-container.dots-block
    .container.title-wrapper
      .row.section-title
        h2
          .icon-office
          | офис
  .container
    .row.contacts-address
      p
        span.icon-home-black
        | Россия, Санкт-Петербург, Проспект Энгельса, 109
      p
        span.icon-phone-black
        | +7 (812) 591-87-00, +7 (911) 927-92-21
      p
        span.icon-time-black
        | Пн-Пт 9.00 До 18.00
      p
        span.icon-mail-black
        | pavel@forumestate.ru
    .row.contacts-office
      .row.contacts-map.col-12.col-md-6
        #map.map
      .row.contacts-image.col-12.col-md-6
        img(src="images/office-img.png", alt="комнед")


include ../components/footer
