include ../components/header

section.newsItem
  .container
    .row.newsItem-image.relative
      img(src='images/12-960x540.jpg', alt='В Петербурге немного снизились ставки на аренду офисов.')
      .newsItem-credentials
        .newsItem-title В Петербурге немного снизились ставки на аренду офисов.
        .newsItem-time 14.12.2016
    .row.newsItem-text
      p
        | В бизнес-центрах класса «А» цены снизились на 4%, до 1700 рублей за 1 кв. м, а класса «В» — на 5%, составив 1250 рублей за квадрат. При этом арендаторы могут получать скидки до 10%.По мнению аналитиков, многие девелоперы извлекли уроки из кризиса 2009 года и предоставляют гибкие условия аренды для своих арендаторов, чтобы они не поменяли здание. В первую очередь это относится к крупным компаниям, которые арендуют офисы 500 кв. м и больше.
      .author Автор: bsn.ru

include ../components/footer
