#about {
	background: #001ceb url('../img/piter.png') bottom center no-repeat;
	background-size: contain;
    height: 100%;
    padding-top: 100px;	
    overflow: hidden;

	@include media-breakpoint-up(xxl) {
		padding-top: 140px;
	}
}

.about__container {
	margin-bottom: 70px;
    @include media-breakpoint-up(sm) {
		margin-bottom: 170px;
	}
    @include media-breakpoint-up(lg) {
		margin-bottom: 270px;
	}	

}

.title {
	margin-bottom: 30px;
	text-align: center;
    @include media-breakpoint-up(lg) {
		margin-bottom: 100px;
	}

	&__main-name {
		font-size: 7.8rem;
		margin-bottom: 0;
		font-family: Georgia, serif;
		font-weight: bold;
		text-transform: uppercase;
	}
	&__main-subname {
		font-size: 2rem;
		font-family: Georgia, serif;
		font-style: italic;
	}
	&__main-est {
		font-size: 1.5rem;
		font-family: Georgia, serif;
		span {
			font-weight: bold;
		}		
	}
	&__main-sub {
		font-family: Arial, sans-serif;
		font-style: italic;
		font-size: 0.8rem;
	}
}

.description {
	text-align: center;	
	font-size: 1.82rem;

	.description__par:first-child {
		margin-bottom: 30px;
	    @include media-breakpoint-up(xxl) {
			margin-bottom: 100px;
		}
	}
}

.about__map {
	display: block;
	position: relative;
	@include box-shadow;
	&-image {
		width: 100%;		
	}
}

.map-btn {
	position: absolute;
	bottom: 3.1rem;
	right: 2.3rem;
	width: 86px;
	height: 100px;
	&__title {
		text-align: center;
		padding-bottom: 10px;
		text-transform: uppercase;
		color: $text-yel-color;		
	}
	&__image {
		width: 100%;
	}
    @include media-breakpoint-up(lg) {
		width: 176px;
		height: 200px;
		bottom: 8.1rem;
		right: 9.3rem;
	}
}