#about {
	background: #001ceb url('../img/piter.png') bottom center no-repeat;
	background-size: contain;
    height: 100%;
    padding-top: calc(#{$navbar-height} + 40px);	
    overflow: hidden;

	@include media-breakpoint-up(xxl) {
		padding-top: calc(#{$navbar-height-w} + 40px);
	}
}

.about__container {
	margin-bottom: 70px;
    @include media-breakpoint-up(sm) {
		margin-bottom: 170px;
	}
    @include media-breakpoint-up(lg) {
		margin-bottom: 270px;
	}	

}

.title {
	margin-bottom: 30px;
	text-align: center;
    @include media-breakpoint-up(lg) {
		margin-bottom: 100px;
	}

	&__main-name {
		font-size: 7.9rem;
		margin-bottom: 0;
		font-family: Georgia, serif;
		font-weight: bold;
		text-transform: uppercase;
	}
	&__main-subname {
		font-size: 3.8rem;
		font-family: Georgia, serif;
		font-style: italic;
	}
	&__main-est {
		font-size: 3.06rem;
		font-family: Georgia, serif;
		span {
			font-weight: bold;
			font-family: 'Times New Roman';
		}		
	}
	&__main-sub {
		font-family: Georgia, sans-serif;
		font-style: italic;
		font-size: 1.87rem;
	}
}

.description {
	text-align: center;	
	font-size: 1.82rem;

	.description__par:first-child {
		margin-bottom: 30px;
	    @include media-breakpoint-up(xxl) {
			margin-bottom: 100px;
		}
	}
}

.about__map {
	display: block;
	position: relative;
	@include box-shadow;
	&-image {
		width: 100%;	
	}
}

.map-btn {
	position: absolute;
	bottom: 3.1rem;
	right: 2.3rem;
	width: 5.4rem;
	height: 100px;
	&__title {
		text-align: center;
		text-transform: uppercase;		
		font-size: 1.2rem;	
		transition: all 0.5s ease-in;		
	}
	&__title a {
		display: block;
		margin-top: 10px;
	}
	&__title:hover {
		color: $text-yel-color;		
	}
	&__title:hover img {
		@include box-shadow;
	}
	&__image {
		width: 100%;
		border-radius: 2em;
		transition: all 0.3s ease-in;
	}
    @include media-breakpoint-up(lg) {
		width: 176px;
		height: 200px;
		bottom: 8.1rem;
		right: 9.3rem;
	}
}

area:hover {
	cursor: pointer;	
}