.footer {
	padding: 4rem 4.3rem 3.1rem;
	font-family: 'carlito-regular-webfont', Arial;
	&__copy {
		font-size: 2.34rem;	
		text-transform: uppercase;	
		text-align: center;	
		@include media-breakpoint-up(sm) {
			text-align: left;
		}	
	}

	&__contacts {
		text-align: center;
		font-size: 1.56rem;

		p {
			margin-bottom: 0.5rem;
		}

		@include media-breakpoint-up(sm) {
			text-align: right;
		}

	}
}

.footer__contacts-phone {
	text-transform: uppercase;	
	font-size: 2.34rem;
}

