// #front {
// 	position: relative;
//   overflow: hidden;
//   width: 100%;
// 	background: #001eff;
// 	background: -moz-linear-gradient(top, rgba(0,0,0,1) 10%, rgba(0,12,124,1) 65%, rgba(#001eff, 1) 100%);
// 	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 10%,rgba(0,12,124,1) 65%,rgba(#001eff, 1) 100%);
// 	background: linear-gradient(to bottom, rgba(0,0,0,1) 10%,rgba(0,12,124,1) 65%,rgba(#001eff, 1) 100%);
// 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0800f9',GradientType=0 );
// }

#front {
  background: #001eff url('../img/front-new.jpg') 0 0 no-repeat;
  background-size: cover;
}

#space {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.menu-trigger {
  position: relative;
  transition: all 0.3s ease-in-out;
  top: 4.7rem;
	left: 70px;
  z-index: 200;

	&__line {
		  width: 3.6rem;
    	height: 0.63rem;
    	background-color: $text-main-color;
    	display: block;
    	margin: 8px 0;
    	transition: all 0.3s ease-in-out;
	}

  &:hover {
    cursor: pointer;
  }

  &:hover > * {
    background-color: $text-yel-color;
  }

}

.controls {
  position: absolute;
  z-index: 99999999;
  right: 30rem;
  bottom: 13rem;

  & svg {
    float: left;
    display: inline-block;
  }
}

.control-play:hover {
  cursor: pointer;
  & #play-arrow {
    fill: $text-yel-color;
  }

}

.control-pause:hover {
  cursor: pointer;
  & #Group {
    fill: $text-yel-color;
  }
}

.control-active {
  & #play-arrow {
    fill: $text-yel-color;
  }
  & #Group {
    fill: $text-yel-color;
  }
}
