#gallery {
	padding-top: 100px;
	margin-bottom: 100px;
	overflow: hidden;

	@include media-breakpoint-up(xxl) {
		padding-top: 140px;
	}	
}

.gallery-desc {
	text-align: center;
	&__title {
		margin-bottom: 30px;
	}
	&__list {
		margin-bottom: 30px;
	}
	&__item--last {
		margin-bottom: 30px;
	}
}

.gallery-list {
	width: 100%;	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@include media-breakpoint-up(md) {
		flex-wrap: nowrap;
		max-height: 402px;
		justify-content: space-between;
	} 
}

.gallery-list__item {
	position: relative;
	margin-right: 0;
	flex-grow: 1;
	
	&:last-child {
		margin-right: 0;
	}
	@include media-breakpoint-up(md) {
		margin-right: 6px;
	}
}

.gallery-list__name {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 120px;
	margin-top: -60px;
	background-color: rgba(#000000, 0.6);

	@include media-breakpoint-up(xl) {
		height: 190px;
		margin-top: -95px;
	}		
}

.gallery-list__link {
	font-size: 2.53rem;
	font-family: 'liberation_sansregular', Arial;
    text-align: center;
    transition: all 0.3s ease-in; 
    &:hover, &:active {
    	color: $text-yel-color;
    }
}

.gallery-image__pic {
	width: 100%;
}
