//icons ===========

.navbar-toggler-icon {
	background-image: url("../images/icons/menu.svg");
}

%icon {
	display: inline-block;
	margin-right: 1em;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 20px;
	height: 20px;
}

%icon-lg {
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 0.5em;
	background-size: contain;
	width: 40px;
	height: 30px;
}

.icon-partner {
	@extend %icon-lg;
	background-image: url("../images/icons/014-people.svg");
}

.icon-objects {
	@extend %icon-lg;
	background-image: url("../images/icons/002-construction.svg");
}

.icon-arenda {
	@extend %icon-lg;
	background-image: url("../images/icons/009-signs.svg");
}

.icon-sale {
	@extend %icon-lg;
	background-image: url("../images/icons/010-discount.svg");
}

.icon-news {
	@extend %icon-lg;
	background-image: url("../images/icons/011-people-1.svg");
}

.icon-office {
	@extend %icon-lg;
	background-image: url("../images/icons/012-buildings.svg");
}

.icon-up {
	@extend %icon;
	background-image: url("../images/icons/012-up-arrow.svg");
	svg > * {
		fill: #fff;
	}
}

.icon-train {
	@extend %icon;
	background-image: url("../images/icons/002-transport-1.svg");
}

.icon-bus {
	@extend %icon;
	background-image: url("../images/icons/003-transport.svg");
}

.icon-infrastr {
	@extend %icon;
	background-image: url("../images/icons/001-construction.svg");
}

.icon-home {
	@extend %icon;
	background-image: url("../images/icons/008-web.svg");
}

.icon-home-black {
	@extend %icon;
	background-image: url("../images/icons/007-web.svg");
}

.icon-phone {
	@extend %icon;
	background-image: url("../images/icons/007-technology.svg");
}

.icon-phone-black {
	@extend %icon;
	background-image: url("../images/icons/006-technology.svg");
}

.icon-time {
	@extend %icon;
	background-image: url("../images/icons/006-clock.svg");
}

.icon-time-black {
	@extend %icon;
	background-image: url("../images/icons/005-clock.svg");
}

.icon-mail {
	@extend %icon;
	background-image: url("../images/icons/005-web-1.svg");
}

.icon-mail-black {
	@extend %icon;
	background-image: url("../images/icons/004-web-1.svg");
}

%nav-icon {
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 40px;
	height: 100px;
}

.icon-right {
	@extend %nav-icon;
	background-image: url("../images/icons/005-web-1.svg");
}

.icon-left {
	@extend %nav-icon;
	background-image: url("../images/icons/005-web-1.svg");
}
