@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import 'fonts';

// helpers
@import 'helpers';

$bg-secondary: #ece9e9;


.browsehappy {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  font-size: 5em;
  text-align: center;
}

.relative {
  position: relative;
}


.section-title {
  margin: 1em auto;
  text-transform: uppercase;
}

.arrow-up {
  position: fixed;
  text-align: center;
  z-index: 999;
  display: none;

  img {
    width: 6.33rem;
  }

  p {
    color: $text-oran-color;
    text-transform: uppercase;
    }
}

@include media-breakpoint-up(xl) {
  .arrow-up {
    left: 1rem !important;
  }
}

// ------------ TYPOGRAPHY-------------

body,
h1,
h2,
a {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.1;
  color: $text-main-color;
}


a:hover,
a:active {
  color: $text-main-color;
  text-decoration: none;
}

//icons ===========
.icon {
  display: inline-block;
  margin-right: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.icon-train {
  background-image: url('../images/glyphicons-15-train.png');
}

.icon-bus {
  background-image: url('../images/glyphicons-32-bus.png');
}

.icon-infrastr {
  background-image: url('../images/glyphicons-90-building.png');
}

.icon-home {
  background-image: url('../images/glyphicons-21-home.png');
}

.icon-phone {
  background-image: url('../images/glyphicons-442-phone-alt.png');
}

.icon-time {
  background-image: url('../images/glyphicons-55-clock.png');
}

.icon-mail {
  background-image: url('../images/glyphicons-11-envelope.png');
}



//includes ==========

// header
@import 'header';

// main page
@import 'index';

// arenda page
@import 'arenda';

//sale page
@import 'sale';

// news page
@import 'news';

// contacts page
@import 'contacts';

// footer
@import 'footer';
@import 'carousel';

