@import "node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/swiper/dist/css/swiper";

@import "fonts";
@import "helpers";

@import "components/object-card";
@import "components/slider";
@import "components/carousel";

// ------------------------------------Common styles ------------------------------- //

.browsehappy {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100px;
	font-size: 5em;
	text-align: center;
}

// icons

body > svg {
	display: none;
}

%icon {
	display: inline-block;
	margin-right: 1em;
	width: 20px;
	height: 20px;
	vertical-align: baseline;
}

.icon-action {
	@extend %icon;
}

.icon-footer {
	@extend %icon;
	fill: darken($c-white, 15%);
	vertical-align: middle;
}

.icon-contacts {
	@extend %icon;
	fill: $c-grey;
}

.icon-title {
	@extend %icon;
	display: inline-block;
	margin-right: 0.2em;
	width: 40px;
	height: 30px;
	fill: darken($c-primary, 30%);
}

.icon-carousel {
	@extend %icon;
	width: 40px;
	height: 100px;
}

%nav-icon {
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 40px;
	height: 100px;
}

.icon-right {
	@extend %nav-icon;
	background-image: url("../images/arrow.png");
	transform: rotate(180deg);
}

.icon-left {
	@extend %nav-icon;
	background-image: url("../images/arrow.png");
}

// Section title

.section-title {
	margin: 1em -15px;
	text-transform: uppercase;
	background-color: rgba($c-primary, 0.42);
	position: relative;
	height: 100px;

	& > * {
		font-size: 1.5em;
		margin: 0 auto;
		line-height: 100px;
		color: darken($c-primary, 30%);
		font-weight: bold;
	}
	&:after {
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		position: absolute;
		content: "";
		background: url(../images/title-bg.jpg);
		filter: opacity(0.4);
		background-size: cover;
		height: inherit;
	}

	@include media-breakpoint-up(md) {
		height: 150px;
		margin: 2em -15px;
		& > * {
			font-size: 2rem;
			line-height: 150px;
		}
	}
}

.dots-block {
	background: $c-white url("../images/bg_dots.png") center repeat;
}

.title-wrapper {
	background-color: $c-white;
}

// ------------------------------------TYPOGRAPHY ------------------------------- //

body,
h1,
h2,
a {
	font-family: "Montserrat", sans-serif;
	color: $text-main-color;
}

p {
	font-size: 0.7em;

	@include media-breakpoint-up(sm) {
		font-size: 1em;
	}
}

a:hover,
a:active {
	color: $text-main-color;
	text-decoration: none;
}

// ------------------------------------includes ------------------------------- //

// header
@import "components/header";

// main page
@import "pages/index";

// arenda page
@import "pages/arenda";

//sale page
@import "pages/sale";

// news page
@import "pages/news";

// news item page
@import "pages/newspage";

// contacts page
@import "pages/contacts";

// object page
@import "pages/object";

// footer
@import "components/footer";
