@import './node_modules/bootstrap/scss/bootstrap-grid.scss';
@import './node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import 'sprite';
@import 'fonts';

// helpers
@import 'helpers';

body {
	background-color: #001eff;
}

.browsehappy {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100px;
	font-size: 5em;
	text-align: center;
}

.arrow-up { 
  position: fixed;
  text-align: center;
  z-index: 999;
  display: none;

  img {
  	width: 6.33rem;
  }

  p {
  	color: $text-oran-color;
  	text-transform: uppercase;
  }

}

@include media-breakpoint-up(xl) {
  .arrow-up {
    left: 1rem !important;
  }
}

// ------------ TYPOGRAPHY-------------

:root {
  font-size: calc(1vw + 1vh - 1.3685vmin); // ~16px
}

body, p, h1, a {
  font-family: Arial, sans-serif;
  line-height: 1.1; 
  color: $text-main-color;   
}

a:hover, a:active {
	color: $text-main-color;
	text-decoration: none;
}

.map {
	@include box-shadow;
	margin-top: 4.4rem;
	height: 312px;

	@include media-breakpoint-up(md) {
		height: 512px;
	}	

	@include media-breakpoint-up(xxl) {
		height: 812px;
	}

}

// navbar
@import 'navbar';

// front page
@import 'front';

//about page
@import 'about';

// gallery page
@import 'gallery';

// projects page
@import 'projects';

// contacts page
@import 'contacts';

// project layout
@import 'project';

// footer
@import 'footer';

