.navbar {
	height: $navbar-height;	
	display: none;
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;
	padding: 0 20px;

	&__wrapper {		
		margin-top: 5%;

		@include media-breakpoint-up(sm) {
			margin-top: 2%;
		}

		@include media-breakpoint-up(lg) {
			margin-top: 1%;
		}
	}

	@include box-shadow();

	&--hidden {
		display: none;
	}	

	background-color: rgba(#000000, 0.7);

	@include media-breakpoint-up(lg) {
		padding: 0 70px;
	}	

	@include media-breakpoint-up(xxl) {
		height: $navbar-height-w;
	}
}

.navbar__logo {
	.name {
		font-size: 3.4rem;
		font-family: 'liberation_serifbold', Arial;
		text-transform: uppercase;		
	}
	.subname {
		font-size: 2.6rem;
		font-family: 'liberation_serifitalic', Arial;
	}
	&-image {  		
		margin: 0 5px;
		height: 23px;
		width: 23px;
		@include media-breakpoint-up(sm) {
			height: 33px;
			width: 33px;
		}
		@include media-breakpoint-up(xxl) {
			margin: 0 15px;
			height: 83px;
			width: 83px;
		}		
	}
}

.navbar__phone {
	font-size: 2.6rem;
	font-family: 'Times New Roman', serif;
	font-weight: bold;

	span {
		font-family: inherit;
		font-weight: bold;
	}
}

.nav {

	@include cleanUlList();	

	@mixin divider {
	    content: '';
	    display: block;
        background-image: url(../img/menu-divider.png);
        background-position: center;
	    width: 2px;
	    height: 0;
	    position: absolute;
	    top: 0;

	    @include media-breakpoint-up(sm) {
			height: 30px;
		}
	    @include media-breakpoint-up(xxl) {
			height: 50px;
		}
	}

	&__item {
		position: relative;
		margin-top: 15px;
		
		&:before {
			@include divider;
			left: 0;	    	
		}
		&:last-child:after {
			@include divider;
			right: 0;
		}
		&--active a{
			color: $text-yel-color;
		}
	}
}


.nav__link {	
	color: $text-main-color;
	font-family: 'Georgia', serif;	
	padding: 0 10px;		
	font-size: 2rem;
	text-transform: capitalize;

	@include media-breakpoint-up(lg) {
		padding: 0 25px;
		font-size: 2.4rem;
	}	

	// &:first-letter {
	// 	text-transform: uppercase;
	// }
	&:hover {
		text-decoration: none;
		color: $text-yel-color;
	}
	&:active {
		text-decoration: none;
		color: $text-yel-color;
	}
}

.navbar__dropdown-menu {
	display: none;

	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	text-align: center;
	background-color: rgba(#000, 0.7);

	@include cleanUlList();
	.nav__item {
		border-bottom: 1px solid #fff;
		padding: 30px;
	}	
	.nav__link {
		font-size: 2rem;
		padding: 0;
	}
	.nav__item:before, .nav__item:after  {
		display: none;
	}
}

.hamburger {
	.line {
		width: 20px;
    	height: 2px;
    	background-color: #ecf0f1;
    	display: block;
    	margin: 3px auto;
    	transition: all 0.3s ease-in-out; 	
  	}
	&:hover {
		cursor: pointer
	} 	
}

/* NINE */

#hamburger-9 {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger-9.is-active {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);	
}

#hamburger-9:before {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  border-radius: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


#hamburger-9.is-active:before {
	border: 2px solid #ecf0f1;
}
  

#hamburger-9.is-active .line {
  width: 20px
}


#hamburger-9.is-active .line:nth-child(2) {
  opacity: 0
}


#hamburger-9.is-active .line:nth-child(1) {
  transform: translateY(5px)
}


#hamburger-9.is-active .line:nth-child(3) {
  transform: translateY(-5px) rotate(90deg)
}