.projectpage-section {
	background-color: #ffffff;
	.navbar {
		display: flex;		
	}
}

.projectpage-heading {
	position: relative;


	&__caption {
		position: absolute;
		padding: 0 70px;
	    top: calc(#{$navbar-height} + 5%);
	    bottom: 5%;
	    left: 0;
	    right: 0;
		background-color: rgba(#000, 0.6);
		font-size: 2.08rem;
		font-family: 'carlito-regular-webfont', Arial;

		flex-direction: column;

		@include media-breakpoint-up(xxl) {
			top: calc(#{$navbar-height-w} + 5%);
		}
	}


	&__title {
		text-align: center;
		font-size: 3.64rem !important;
		font-weight: bold;		
	}


}


/* ---- grid ---- */

.grid {
	margin: 0 70px;
	height: auto !important;
	// .gutter-width {
	// 	width: 1%;
	// }
	&__item {
		float: left;
		padding: 7px;
	}
	&__image {
  		display: block;
		max-width: 100%;
		margin: 20% 40%;		
	}
	&__sizer, &__item {		
		width: 33.333%;		
	}
}
