#projects {
    padding-top: 100px;
    overflow: hidden;	

	@include media-breakpoint-up(xxl) {
		padding-top: 140px;
	}
}

.projects-gallery {
	font-family: 'carlito-regular-webfont', Arial;	
	text-align: center;

	&__item {
		padding: 0;
		margin: 0;
		position: relative;
		cursor: pointer;
	}

	&__img {
		width: 100%;
	    height: 100%;
	}


	&__caption {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transition: all 0.5s ease-in-out;
		background-color: rgba(0, 0, 0, 0.7);
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		&--active {
			opacity: 1;
		}
	}	

	&__link {
		display: block;
		color: $text-main-color!important;
		font-family: 'carlito-regular-webfont', Arial;
		font-weight: normal;
	}

	&__title {
		color: $text-yel-color;
		font-size: 2.6rem;
	}

	&__desc {
		font-size: 1.3rem;
		padding: 0 10%;
	}

	&__contact {
		font-size: 1.3rem;
	}

}


.partners__title {
	text-align: center;
	text-transform: uppercase;
	padding: 60px 0;
	font-size: 2.60em;
	font-family: 'carlito-regular-webfont', Arial;	
}

.partners__item {
	padding: 0;	
	background-color: #000000;
}

.partners__img {
	width: 100%;
	position: relative;
	z-index: 1;
	transition: all 0.2s ease-in;

	&--active {
		@include box-shadow();
		position: relative;
		z-index: 2;
	}

	&--darkened {
		opacity: 0.4;		
	}
}
