doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Группа компаний форум
    meta(name="description" content="")
    link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
    link(rel="stylesheet" href="css/main.css")
    //if lte IE 9
     p.browsehappy
      | Вы используете
      strong устаревший
      | браузер. Пожалуйста
      a(href="http://browsehappy.com/") обновите его
  body
    include components/navbar   
    include sections/front
    include sections/about
    include sections/gallery
    include sections/projects
    include sections/contacts
    include components/footer

  script(src="js/jquery.min.js")
  script(src="js/libs.js")
  script(src="js/logo.js") 
  script(src="js/mainpage.js")

