section#about
 .container-fluid.about__container
  .title
     p.text-center.title__main-name forum
     p.text-center.title__main-subname group
     p.text-center.title__main-est 
      |С 
      span 1998 
      | года на рынке!
     p.text-center.title__main-sub Управляем собственной недвижимостью
  .description
     p.description__par
      | Компания 
      span «FORUM»
      | — многопрофильный холдинг, более 30 лет ведущий свою деятельность на Северо- Западе РФ!
     p.description__par
      span.text-orange Основная область интересов 
      | – коммерческая недвижимость, телекоммуникации, сельское хозяйство.
     p.description__par
      span.text-red Основной актив 
      | — команда единомышленников, многие из которых работают в компании более 20 лет!  
picture.about__map
  source(srcset="../img/lake.jpg" media="max-width: 768px")
  img.about__map-image(src="../img/lake.jpg" alt="forum")
  .map-btn
    .map-btn__title на яндекс картах
    img(src="../img/map-btn.png" alt="forum map").map-btn__image
