section#contacts
  .container-fluid.contacts
    .row
      .col-12.col-md-3.col-lg-4.contacts-data
        img(src='img/contacts-icon.png' alt='форум контакты').contacts-data__logo
        .contacts-data__address
          p.text-red Офис
          p 
            span.text-yell Адрес: 
            | 194354, Россия
          p Санкт-Петербург, Проспект Энгельса, 109
          p Телефон: +7 (812) 591-86-00
          p.text-yell Время работы:
          p 9:00–18:00
          p.text-yell Электронная почта:
          p info@forumestate.ru
        .contacts-data__phones
          p.text-red Отдел управления недвижимостью
          p.text-yell Телефон:
          p +7 (812) 591-88-33
          p +7 (812) 591-88-88
          p +7 (911) 849-49-71
        .contacts-data__phones  
          p.text-red Отдел управления проектами
          p.text-yell Телефон:
          p +7 (812) 591-87-00
          p +7 (812) 591-88-16
          p +7 (911) 927-92-22
      .col-12.col-md-9.col-lg-8.contacts-form
        form.contacts-form__wrapper
          img(src='img/contacts-logo.png' alt='форум контакты').contacts-form__logo
          input(type='text' placeholder='Имя').contacts-form__input
          input(type='phone' placeholder='Телефон').contacts-form__input
          textarea(rows='10' placeholder='Сообщение').contacts-form__input
          button(type='submit').contacts-form__btn отправить
  include ../components/map


