section#gallery
 .container-fluid.gallery-container
  .gallery-desc
   p.gallery-desc__title Наиболее крупными объектами в области коммерческой недвижимости являются:
   p.gallery-desc__list Офисные центры:
   p.gallery-desc__item — ДЦ Кварц (Пискаревский пр., 63 лит. А)
   p.gallery-desc__item — БЦ Атолл (ул. Учительская, 23)
   p.gallery-desc__item.gallery-desc__item--last — БЦ Форум (ул. Балтийская, 51)
   p.gallery-desc__list Многопрофильные центры:
   p.gallery-desc__item — «Перун» (Пискаревский пр., 63 лит. В)
   p.gallery-desc__item.gallery-desc__item--last — «Тележная, 17-19» (ул. Тележная, 17-19)
 .gallery-list
   mixin picture(source, name, link)  
    a(href=link)
      picture.gallery-list__item
        img(src=source alt="forum").gallery-list__pic
        div.gallery-list__name.d-flex.align-items-center.justify-content-center    
          span.gallery-list__title!= name        
   +picture('img/gal-kvartz.jpg', 'Бизнес-Центр <br> «КВАРЦ»', './kvartz.html')
   +picture('img/gal-atoll.jpg', 'Бизнес-Центр <br> «АТОЛЛ»', './atoll.html')
   +picture('img/gal-landskrona.jpg', 'Ресторан <br> «ЛАНДСКРОНА»', './landskrona.html')
   +picture('img/gal-forum.jpg', 'Бизнес-Центр <br> «ФОРУМ»', './forum.html')
