extends ../project

block vars
 - var src='img/atoll/atoll-main.jpg'
 - var title = 'Бизнес-Центр «ATOЛЛ»'
 - var desc = 'Расположен в густонаселенном Калининском районе Санкт-Петербурга рядом со станцией метро «Гражданский проспект». Развитая инфраструктура, транспортная доступность, парковка, выгодные условия аренды.'
 - var contacts = '<p>Cайт:  <a href="http://xn----8sbb6baq1a3a.xn--p1ai/" target="blank">бц-атолл.рф</a></p><p>Адрес: Санкт-Петербург, ул. Учительская, 23</p><p>Телефоны: +7 (812) 591-88-88, +7 (812) 927-92-26</p>'
 - var photos = ['img/atoll/17.jpg', 'img/atoll/IMG_1572.jpg', 'img/atoll/IMG_1574.jpg', 'img/atoll/IMG_1575.jpg', 'img/atoll/IMG_1576.jpg', 'img/atoll/IMG_1578.jpg', 'img/atoll/IMG_1580.jpg', 'img/atoll/IMG_1582.jpg', 'img/atoll/IMG_1583.jpg', 'img/atoll/IMG_1585.jpg', 'img/atoll/IMG_1587.jpg', 'img/atoll/IMG_1589.jpg', 'img/atoll/IMG_1590.jpg', 'img/atoll/IMG_1593.jpg', 'img/atoll/IMG_1596.jpg', 'img/atoll/IMG_1599.jpg', 'img/atoll/IMG_1600.jpg', 'img/atoll/IMG_1601.jpg', 'img/atoll/IMG_1602.jpg', 'img/atoll/IMG_1603.jpg', 'img/atoll/IMG_1609.jpg', 'img/atoll/IMG_1611.jpg', 'img/atoll/IMG_1613.jpg', 'img/atoll/IMG_1618.jpg', 'img/atoll/IMG_1619.jpg', 'img/atoll/IMG_1623.jpg']