extends ../project

block vars
  - var src='img/forum/forum-main.jpg'
  - var title = 'БИЗНЕС-ЦЕНТР «ФОРУМ»'
  - var desc = 'Предлагает в аренду офисные и складские помещения, расположенные в Кировском районе Санкт-Петербурга рядом со станцией метро «Балтийская». Удобная транспортная доступность, парковка, контроль доступа, видеонаблюдение, современный ремонт, выгодные условия аренды.'
  - var contacts = '<p>Cайт:  <a href="http://xn--90awfipdn.xn--p1ai/" target="blank">бцфорум.рф</a></p><p>Адрес: Санкт-Петербург, ул. Балтийская, 51</p><p>Телефоны: +7 (812) 591-88-88, +7 (812) 927-92-26</p>'
  - var photos = ['img/forum/1.jpg', 'img/forum/10.jpg', 'img/forum/11.jpg', 'img/forum/2.jpg', 'img/forum/3.jpg', 'img/forum/4.jpg', 'img/forum/5.jpg', 'img/forum/6.jpg', 'img/forum/7.jpg', 'img/forum/8.jpg', 'img/forum/9.jpg', 'img/forum/IMG_1631.jpg', 'img/forum/IMG_1632.jpg', 'img/forum/IMG_1633.jpg', 'img/forum/IMG_1634.jpg', 'img/forum/IMG_1635.jpg', 'img/forum/IMG_1637.jpg', 'img/forum/IMG_1638.jpg', 'img/forum/IMG_1639.jpg', 'img/forum/IMG_1640.jpg', 'img/forum/IMG_1641.jpg', 'img/forum/IMG_1642.jpg', 'img/forum/IMG_1643.jpg', 'img/forum/IMG_1644.jpg', 'img/forum/IMG_1645.jpg', 'img/forum/IMG_1646.jpg', 'img/forum/IMG_1647.jpg', 'img/forum/IMG_1648.jpg', 'img/forum/IMG_1649.jpg', 'img/forum/IMG_1650.jpg', 'img/forum/IMG_1651.jpg']