extends ../project

block vars
  - var src='img/kvartz/kvartz-main.jpg'
  - var title = 'БИЗНЕС-ЦЕНТР «КВАРЦ»'
  - var desc = '<p>Расположенный в Красногвардейском районе Санкт-Петербурга, предлагает в аренду офисные помещения, склады.</p><p>Удобная транспортная доступность, парковка, контроль доступа, видеонаблюдение, современный высококачественный ремонт, конференц-зал, кафе.</p>'
  - var contacts = '<p>Cайт:  <a class="text-yell" href="http://xn--80adx0a4a.xn--p1ai" target="blank">кварц.рф</a></p><p>Адрес: Санкт-Петербург, пр. Пискаревский, 63</p><p>Телефоны: +7 (812) 591-88-88, +7 (812) 927-92-26</p>'        
  - var photos = ['img/kvartz/10.jpg', 'img/kvartz/11.jpg', 'img/kvartz/7.jpg', 'img/kvartz/18.jpg', 'img/kvartz/19.jpg', 'img/kvartz/12.jpg', 'img/kvartz/13.jpg', 'img/kvartz/14.jpg']