extends ../project

block vars
  - var src='img/landskrona/landskrona-main.jpg'
  - var title = 'ЛАНДСКРОНА'
  - var desc = 'Панорамный ресторан на берегу Финского залива. Просторный зал, собственный пляж, причал, охраняемая парковка и территория. Круглый год: корпоративы, свадьбы, юбилеи, выпускные вечера.'
  - var contacts = '<p>Cайт:  <a class="text-yell" href="http://xn--80aalycnchri.xn--p1ai/" target="blank">ландскрона.рф</a></p><p>Телефоны: +7 (812) 591-87-00, +7 (911) 927-92-20'
  - var photos = ['img/landskrona/1.jpg', 'img/landskrona/2.jpg', 'img/landskrona/3.jpg', 'img/landskrona/5.jpg', 'img/landskrona/6.jpg', 'img/landskrona/8.jpg', 'img/landskrona/14.jpg', 'img/landskrona/15.jpg', 'img/landskrona/16.jpg', 'img/landskrona/17.jpg', 'img/landskrona/18.jpg', 'img/landskrona/20.jpg', 'img/landskrona/21.jpg', 'img/landskrona/22.jpg', 'img/landskrona/23.jpg', 'img/landskrona/30.jpg', 'img/landskrona/35.jpg', 'img/landskrona/46.jpg']