.navbar-custom {
	padding: 0;
	background-color: $c-primary;

	button {
		outline: none;
	}

	@include media-breakpoint-up(md) {
		height: 60px;
	}
}

.navbar-logo {
	background-color: rgba($c-white, 0.7);
	padding: 0.2em;

	img {
		width: 50px;
	}

	@include media-breakpoint-up(sm) {
		padding: 0.7em;
		margin-top: 30px;
		img {
			width: 80px;
		}
	}

	@extend %box-shadow;
}

.navbar-nav {
	background-color: rgba(0, 0, 0, 0.6);

	@include media-breakpoint-up(md) {
		background-color: unset;
	}
}

.navbar-nav .nav-link {
	color: $text-main-color;
	font-weight: 500;
	transition: all 0.3s ease-in-out;
	text-align: center;
	height: 5em;
	line-height: 5em;
	border-top: 1px solid $c-white;

	&:hover {
		color: $c-warning;
	}
}

.navbar-nav .active .nav-link {
	color: $c-warning;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 1rem;
}

.header-phone {
	position: absolute;
	right: 0;
	top: 100%;
	font-size: 1em;
	font-weight: 500;
	margin-right: 15px;

	color: $c-warning;

	@include media-breakpoint-up(sm) {
		font-size: 1.5em;
		top: calc(100% - 25px);
	}

	text-shadow: -0 -1px 0 #6c757d, 0 -1px 0 #6c757d, -0 1px 0 #6c757d,
		0 1px 0 #6c757d, -1px -0 0 #6c757d, 1px -0 0 #6c757d, -1px 0 0 #6c757d,
		1px 0 0 #6c757d, -1px -1px 0 #6c757d, 1px -1px 0 #6c757d, -1px 1px 0 #6c757d,
		1px 1px 0 #6c757d, -1px -1px 0 #6c757d, 1px -1px 0 #6c757d, -1px 1px 0 #6c757d,
		1px 1px 0 #6c757d;
}

.header-poster {
	height: 250px;
	background: $c-primary url(../images/header-bg.jpg) center no-repeat;
	background-size: cover;

	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 0.5em;

	@extend %box-shadow;

	@include media-breakpoint-up(md) {
		height: 450px;
	}
}

.header-subject {
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	&__title {
		background-color: rgba(0, 123, 255, 0.58);
		font-size: 1.5em;
		padding: 0.2em 1em;
		color: c-white;

		@include media-breakpoint-up(md) {
			font-size: 3.5em;
			padding: 0.2em 3em;
		}
		@include media-breakpoint-up(xl) {
			padding: 0.2em 5em;
		}
	}
	&__desc {
		margin: 0.4em auto 0;
		font-size: 0.8em;
		color: $gray-700;
		font-family: "Open Sans", sans-serif;

		@include media-breakpoint-up(md) {
			font-size: 1.5em;
		}

		@include media-breakpoint-up(lg) {
			font-size: 2em;
		}

		@include media-breakpoint-up(xl) {
			margin: 0.1em auto 0;
			width: 95%;
			font-size: 2.4em;
		}
		@media all and (min-width: 1800px) {
			width: 70%;
		}
	}
}
