.slider-container
  #owl-footer.owl-carousel.owl-theme
    .owl-wrapper-outer
      .owl-wrapper
        //- .owl-line
        a(href="/").owl-item
          span.icon-left
        .owl-item
          a(href="#" target="_blank")
            img(src="images/proj-atoll.jpg" alt="бц")
        .owl-item
          a(href="#" target="_blank")
            img(src="images/proj-forum.jpg" alt="бц")
        .owl-item
          a(href="#" target="_blank")
            img(src="images/proj-horizont.jpg" alt="бц")
        .owl-item
          a(href="#" target="_blank")
            img(src="images/proj-komned.jpg" alt="бц")
        a(href="/").owl-item
          span.icon-right
    .owl-controls.clickable
      .owl-pagination
        .owl-page
          span
        .owl-page
          span
      .owl-buttons
        .owl-prev
        .owl-next
