
.swiper-container.swiper-footer-container#slider-footer
  .swiper-wrapper
    .swiper-slide
      img(src="images/proj-atoll.jpg", alt="ландскрона")
    .swiper-slide
      img(src="images/proj-forum.jpg", alt="птд")
    .swiper-slide
      img(src="images/proj-forum.jpg", alt="кварц")
    .swiper-slide
      img(src="images/proj-horizont.jpg", alt="горизонт")
    .swiper-slide
      img(src="images/proj-komned.jpg", alt="комнед")
  .swiper-button-next
  .swiper-button-prev
  .swiper-pagination
