.container-fluid.footer
	.row.dots-block
	.row.section-title
		h2
			span.icon-partner
			| наши партнеры
	//- .row
	//- 	include ./carousel
	.row.bg-primary
		.footer-container
			.row.info-wrapper
				.col-12.col-lg-4.info-company
						.footer-logo
							a(href="/" )
								img(src="images/menu-logo.png" width="50" height="50" alt="").footer-logo__img
								span.footer-logo__title комнед
								span.footer-logo__title.text-warning .рф
						p Компания «Форум» — многопрофильный холдинг, ведущий свою деятельность на Северо-западе РФ с 1988 года. Основная область интересов – коммерческая недвижимость, телекоммуникации, сельское хозяйство. Основной актив — команда единомышленников, многие из которых работают в компании более 20 лет.

				.col-12.col-lg-8
					.row
						.col-12.col-lg-6
							h3.footer-nav__title Меню
							.footer-nav__links
								.footer-nav__column
									a(href="index.html") главная
									a(href="arenda.html") аренда
									a(href="sale.html") продажа
								.footer-nav__column
									a(href="news.html") новости
									a(href="contacts.html") контакты
						.col-12.col-lg-6.info-contacts
							h3.info-contacts__title Контакты
							p
								span.icon-home
								| Россия, Санкт-Петербург, Проспект Энгельса, 109
							p
								span.icon-phone
								| +7 (812) 591-87-00, +7 (911) 927-92-21
							p
								span.icon-time
								| Пн-Пт 9.00 До 18.00
							p
								span.icon-mail
								| pavel@forumestate.ru
	.row.bottom-container
		.rights Группа компаний "Форум"
		a(href="#" title="Наверх").icon-up
		.submenu &copy; Все права защищены. 1988-2018




script(src="js/common.js")
script(src="js/scripts.js")

