footer.footer
 .container-fluid
  .row
    .footer__copy.col-12.col-sm-6.text-yell
      | &copy; 
      span.text-orange forum  
      | 1988-2018
    .footer__contacts.col-12.col-sm-6
      p.text-yell.footer__contacts-phone 9:00-18:00
      p 194354, Россия,Санкт-Петербург, Проспект Энгельса, 109
      p +7 (812) 591-86-00
      p info@forumestate.ru
 