.slide-modal.slide-modal__overlay.is-hidden
  .slide-modal__table
    .slide-modal__cell
      .slide-modal__left-arrow <
      .slide-modal__image
      .slide-modal__right-arrow >
        button.slide-modal__close
          span x
